<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Bicycles SHOP By CHARLINE : Des vélos performants</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Envie de trouver votre vélo pour vos sorties route, vous êtes au bon endroit, inscrivez-vous, connectez vous et découvrez notre gamme de vélos</p>
      
    </div>
    <div class="overflow-hidden" style="max-height: 100vh;">
      <div class="container px-5">
        <img src="assets/images/velos.JPG" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="500" height="300" loading="lazy">
      </div>
    </div>
  </div>
