<div class="container" *ngIf="cnx; else loginSection">
  <h4>Détails Utilisateur :</h4>
  <p><strong>Nom :</strong> {{ nom }}</p>
  <p><strong>Prénom :</strong> {{ prenom }}</p>
  <p><strong>Adresse mail :</strong> {{ email }}</p>
</div>

<ng-template #loginSection>
  <div class="container">
    <h4>Connexion :</h4>
    <div class="form-group">
      <label for="login">Login :</label>
      <input [(ngModel)]="login" class="form-control" id="login" />
    </div>
    <div class="form-group">
      <label for="password">Mot de passe :</label>
      <input [(ngModel)]="password" type="password" class="form-control" id="password" />
    </div>
    <br />
    <button (click)="connexion()" class="btn btn-primary" onclick="alert('Tentative de connexion en cours..')">Connecter</button>
    <br />
    <br />
    
  </div>
</ng-template>

<hr />
<div *ngIf="!cnx">
  <div class="container mt-4">
    <h4>Création Compte Client</h4>
    <form id="compteClient" (ngSubmit)="ajouterUtilisateur()">
      <div class="form-group">
        <label for="nom">Nom :</label>
        <input type="text" class="form-control" id="nom" name="nom" placeholder="Dupont" [(ngModel)]="nouvelUtilisateur.nom" required>
      </div>
      <div class="form-group">
        <label for="prenom">Prénom :</label>
        <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Toto" [(ngModel)]="nouvelUtilisateur.prenom" required>
      </div>
      <div class="form-group">
        <label for="login">Login :</label>
        <input type="text" class="form-control" id="loginCreate" name="loginCreate" placeholder="toto88" [(ngModel)]="nouvelUtilisateur.login" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe :</label>
        <input type="password" class="form-control" id="passwordCreate" name="passwordCreate" placeholder="***" [(ngModel)]="nouvelUtilisateur.password" required>
      </div>
      <div class="form-group">
        <label for="email">Adresse mail :</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="toto@mail.com" [(ngModel)]="nouvelUtilisateur.email" required>
      </div>
      <br />
      <button type="submit" class="btn btn-primary" >Enregistrer</button>
    </form>
  </div>
</div>
