<h1>Panier :</h1>

<button class="btn btn-success" (click)="clearPanier()" onclick="alert('Paiement effectué.')">Payer Maintenant</button>
<hr />
<div class="card mb-2 " style="width: 18rem;margin-left: 20px;" id="catalogue"  *ngFor="let p of liste | async">
    <div class="card-header" style="width: 18rem;">{{ p.titre }}</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ p.description }}</li>
      <li class="list-group-item">{{ p.prix }}€</li>
      <li class="list-group-item">Quantité Dispo : {{ p.qte }}</li>
      <li class="list-group-item"><img class="car-img-top" style="width: 100%;" [src]="p.image"></li>
    </ul>
    <div class="card-footer"> <button class="btn btn-dark" (click)="delProduit(p)">-</button></div>
  </div>

<hr />